*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
    
.header {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    font-weight: bolder;
    font-size:x-large;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .tamepuppet1 {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .construction {
    text-align: center;
    height: 20px;
    color: #b50600;
  }

  .site-images {
    width: 80%;
    margin: 40px auto 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;
  }
  
  .site-images img{
    width: 100%;
    cursor: pointer;
  }
  
  .site-images figcaption {
    text-align: center;
  }

  .site-images img:hover{
    transform: scale(1.2);
    border-radius: 10px;
    box-shadow: 0 32px 75px rgba(red, green, blue, alpha);
  }
  
  .topnav {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: rgb(104, 104, 104)000;
    color: rgb(0, 26, 255);
  }

  /* styles.css */

  .home {
    display: inline-block;
    padding: 14px 30px;
    background-color: #641ec0;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .home-button:hover {
    background-color: #bc9add; /* Darker shade for hover effect */
  }

  .tameart {
    display: inline-block;
    padding: 14px 30px;
    background-color: #ffee00;
    color: rgb(8, 8, 8);
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .tameart-button:hover {
    background-color: #dddfc4; /* Darker shade for hover effect */
  }

.liveart-button {
  display: inline-block;
  padding: 14px 30px;
  background-color: #b50600;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.liveart-button:hover {
  background-color: #ce9315; /* Darker shade for hover effect */
}

.linkedin-button {
  display: inline-block;
  padding: 14px 30px;
  background-color: #0077B5; /* LinkedIn blue color */
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.linkedin-button:hover {
  background-color: #02d6d6; /* Darker shade for hover effect */
}

.eal-button {
  display: inline-block;
  padding: 14px 30px;
  background-color: #055e27;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.eal-button:hover {
  background-color: rgb(2, 214, 55); /* Darker shade for hover effect */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


