* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.page-heading {
  margin-top: 50px;
  text-align: center;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Change to eight columns */
  gap: 20px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.text-merge {
  grid-column: span 6;
}

.image-item {
  grid-column: span 2;
}

.image-item img {
  width: 100%; /* Set the image width to 100% of its container */
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
  height: auto; /* Maintain the aspect ratio */
}


.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #555;
}

/* Add this CSS for the second grid-container with eight columns */
.second-grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

/* Apply styles to the grid items within the second grid-container */
.second-grid-container .grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Add additional styles as needed for the second grid items */
